@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
  --font-family-sans-serif: ui-rounded, 'SF Pro Rounded', 'Line Seed Sans KR', ui-sans-serif, -apple-system,
    BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Apple Color Emoji', Pretendard, system-ui, -system-ui, sans-serif !important;
  --font-family-monospace: ui-monospace, 'SF Mono', SFMono-Regular, 'Jetbrains Mono', Menlo, Consolas, monospace !important;
  word-wrap: break-word;
  word-break: keep-all;
}

#nav-bar {
  /* navigation toolbar */
  -moz-box-ordinal-group: 1 !important;
  font-family: var(--font-family-monospace) !important;
}

#PersonalToolbar {
  /* bookmarks toolbar */
  -moz-box-ordinal-group: 2 !important;
  font-family: var(--font-family-sans-serif) !important;
}

#TabsToolbar {
  /* tab bar */
  -moz-box-ordinal-group: 3 !important;
  font-family: var(--font-family-sans-serif) !important;
}
